body, main {
    display: flex
}

body {
    flex-direction: column;
}

header { 
    background-color: rgb(31, 121, 31);
    padding-left: 2px;
}

main {
    flex-direction: row;
    flex: auto
}

main article {
    overflow-y: auto;
    flex: 2;
    
}

main aside {
    flex: 1;
    overflow-y: auto;
}

footer{
    background-color: #ddd8ca ;
}